<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Nova Potkategorija</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Početna</a></li>
          <li class="breadcrumb-item"><a routerLink="/admin/subcategories">Potkategorije</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nova
            potkategorija</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-primary card-outline mb-4">
    <!-- Header -->
    <div class="card-header">
      <div class="card-title">Unesite podatke</div>
    </div>
    <!-- Forma -->
    <form [formGroup]="subcategoryForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <!-- Dropdown za odabir kategorije -->
        <div class="mb-3">
          <label for="category" class="form-label">Kategorija</label>
          <select id="category" class="form-select" formControlName="categoryId">
            <option value="">Odaberite kategoriju</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div *ngIf="subcategoryForm.get('categoryId')?.invalid && subcategoryForm.get('categoryId')?.touched"
            class="text-danger">
            Odabir kategorije je obavezan.
          </div>
        </div>
        <!-- Redni broj -->
        <div class="mb-3">
          <label for="ordinalNumber" class="form-label">Redni broj</label>
          <input type="number" formControlName="ordinalNumber" class="form-control" id="ordinalNumber"
            placeholder="Unesite redni broj" />
          <div *ngIf="subcategoryForm.get('ordinalNumber')?.invalid && subcategoryForm.get('ordinalNumber')?.touched"
            class="text-danger">
            Redni broj je obavezan.
          </div>
        </div>
        <!-- Naziv -->
        <div class="mb-3">
          <label for="name" class="form-label">Naziv</label>
          <input type="text" formControlName="name" class="form-control" id="name"
            placeholder="Unesite naziv potkategorije" />
          <div *ngIf="subcategoryForm.get('name')?.invalid && subcategoryForm.get('name')?.touched" class="text-danger">
            Naziv je obavezan.
          </div>
        </div>
        <!-- Aktivna? -->
        <div class="mb-3 form-check">
          <input type="checkbox" formControlName="active" class="form-check-input" id="active" />
          <label class="form-check-label" for="active">Aktivna</label>
        </div>
      </div>
      <!-- Footer -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Sačuvaj</button>
      </div>
      <div *ngIf="errorMessage" class="text-danger p-2">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>