<div class="app-wrapper">
  <nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
      <ul class="navbar-nav ms-auto">
        <span class="nav-item"><b>{{fullName}}</b> ({{email}})</span>
      </ul>
    </div>
  </nav>

  <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
      <a href="#" class="brand-link">
        <span class="brand-text fw-light">Novinski Portal</span>
      </a>
    </div>

    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/admin/dashboard" class="nav-link" href="#">
              <i class="nav-icon bi bi-speedometer"></i>
              <p>Početna</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/categories" class="nav-link">
              <i class="nav-icon bi bi-list-ul"></i>
              <p>Kategorije</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/subcategories" class="nav-link" href="#">
              <i class="nav-icon bi bi-stack"></i>
              <p>Potkategorije</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/articles" class="nav-link" href="#">
              <i class="nav-icon bi bi-file-text"></i>
              <p>Članci</p>
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link" href="#">
              <i class="nav-icon fa fa-right-from-bracket"></i>
              <p>Odjava</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <main class="app-main">
    <div class="app-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="app-footer">
    <strong>
      Copyright &copy; 2025.
    </strong>
    All rights reserved.
  </footer>
</div>